body { 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #FFE4E1;
}

#titleContact {
    padding-left: 100px;
    margin-top: 0px; 
    font-size: 40px;
    color: rgb(85, 131, 107) ;
    text-align: left;
    color: #C08081;
}

#descContact {
    padding-left: 100px;
    /* margin-top: 0px;  */
    font-size: 15px;
    color: rgb(85, 131, 107) ;
    text-align: left;
    color: #C08081;
    width: 40%;
    height: auto;
}

article{
    display: flex;
    /* flex-direction: column;
    align-items: center; */
    justify-content: center;
    margin-top: 60px;
}

.contactForm{
    /* background-color: yellowgreen; */
    border-radius: 10px;
    width: 50%;
    padding: 1rem 1.5rem 1rem 1.5rem;
    margin-bottom: 1rem;
    color: #C08081;
}

.info{
    padding-top: 0.5rem;
}

#btnSend{
    background-color: #C08081;
}