body { 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #FFE4E1;
}

.frontPage {
    padding-left: 100px;
    margin-bottom: 400px;
    margin-top: 130px;
}

#myName {
    font-size: 80px;
    color: #C08081;
    padding-top: 30px;
}

#developer {
    font-size: 55px;
    color: rgb(85, 131, 107) ;
    text-align: left;
    color: #C08081;
}

.aboutMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 

#profilePic{
    width: 280px;
    height: auto;
    margin-top: 30px;
}

#titleAbout {
    font-size: 40px;
    color: #C08081;
    /* text-align: center; */
}

#descript{
    text-align: justify;
    width: 50%;
    height: auto;
    margin-top: 2.5rem;
    margin-bottom: 12rem;
    color: #C08081;
}

footer {
    color: #C08081;
    text-align: center;
  
}


/* Colores:
243, 237, 223 - Old Lace #FDF5E6
226, 207, 208 - mysty rose #FFE4E1
255, 197, 190 melon - #FFC5BE
180, 130, 132 - old rose #C08081
178, 190, 181 - ash grey
139, 139, 139 - grey
135, 153, 140 - cambridge blue

rgb(218 183 133) - Tan
rgb(213, 137, 111);
rgb(196, 147, 131);
rgb(4, 57, 94)
rgb(4, 57, 94)
rgb(223, 163, 143) - Melón
rgb(112, 162, 136) - Cambridge Blue
rgb(255, 183, 197) - Cherry Blosom Pink
*/